.two-col-list {
  text-align: left;
}

.two-col-list__row {
  @extend .clearfix;
  @include margin-bottom(2);

  &:last-child {
    margin-bottom: 0;
  }
}

%two-col-list__col {
  float: left;
}

.two-col-list__col1 {
  @extend %two-col-list__col;
  width: 30%;
}

.two-col-list__col2 {
  @extend %two-col-list__col;
  width: 70%;
}

.two-col-list__meta a {
  @extend %link-arrow;
}

@media screen and (max-width: $breakpoint-mobile) {
  .two-col-list__col1,
  .two-col-list__col2 {
    width: 100%;
  }

  .two-col-list__meta {

    margin: .5rem 0;

    li {
      float: left;
      font-style: italic;

      &:after {
        content: '/';
        margin: 0 .5rem;
      }

      &:first-child {
        width: 100%;
        font-style: normal;
      }

      &:first-child,
      &:last-child {
        &:after {
          content: '';
        }
      }

      a:after {
        content: '';
        margin-left: 0;
      }
    }

    a {
      text-decoration: underline;
    }
  }
}

.inline-list {
  @include margin-bottom(1);
}

.inline-list__group {
  display: inline-block;
  font-weight: bold;
  &:after {
    content: ': ';
  }
}

.inline-list__item {
  display: inline-block;
  font-weight: normal;

  &:after {
    content: ', ';
  }

  &:last-child:after {
    content: '';
  }
}

.contacts-list {
  width: 70%;
  margin: 0 auto;
}

.contacts-list__row {
  @include margin-bottom(1);

  background-repeat: repeat-x;
  background-position: 0 11px;
  background-image:
url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABCAYAAAD0In+KAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDozQzE2NjZGRDdFODgxMUUzODZDOEMxMUM3M0ExQzc1MSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDozQzE2NjZGRTdFODgxMUUzODZDOEMxMUM3M0ExQzc1MSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjNDMTY2NkZCN0U4ODExRTM4NkM4QzExQzczQTFDNzUxIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjNDMTY2NkZDN0U4ODExRTM4NkM4QzExQzczQTFDNzUxIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+J6Ue4QAAABJJREFUeNpi+P//PwMQOAAEGAAVNAM+EskM+AAAAABJRU5ErkJggg==);
}

.contacts-list__type,
.contacts-list__content {
  background: #fff;
}

.contacts-list__type {
  float: left;
  text-align: right;
  padding-right: 5px;
  font-weight: bold;
}

.contacts-list__content {
  text-align: right;
  float: right;
  padding-left: 5px;
}

@media screen and (max-width: 570px) {
  .contacts-list {
    width: 90%;
  }
}

@media screen and (max-width: $breakpoint-mobile) {
  .contacts-list,
  .contacts-list__type,
  .contacts-list__content {
    width: 100%;
    text-align: center;
  }

  .contacts-list__content a {
    text-decoration: underline;
  }
}
