!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width" }

    %title Tore Holmberg &mdash; Technical direction &amp; development

    = favicon_tag '/favicon.ico'
    = stylesheet_link_tag "styles", :media => 'all'

  %body
    %header
      %h1
        %strong Tore Holmberg
        %br/
        Technical direction &amp; development

    = yield

    = javascript_include_tag  "application"
