!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width" }

    %title= data.global.title
    %meta{ property: "og:title", content: data.global.title }
    %meta{ property: "og:description", content: data.global.intro }
    %meta{ property: "og:type", content: "website" }
    %meta{ property: "og:url", content: "http://toreholmberg.se" }
    %meta{ property: "og:image", content: "http://toreholmberg.se/images/social.png" }
    %meta{ property: "og:image:type", content: "image/png" }
    %meta{ property: "og:image:width", content: "800" }
    %meta{ property: "og:image:height", content: "800" }

    = favicon_tag "/favicon.ico"
    = stylesheet_link_tag "styles", :media => "all"

  %body
    %header
      %h1
        %strong Tore Holmberg
        %br/
        Technical direction &amp; development

    = yield

    -#= javascript_include_tag  "application"

    :plain
      <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-3320981-1');ga('send','pageview');
      </script>
